{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content%}
<h1 align="center">About</h1>
At a time when many of us are struggling to adapt to a new normal, its important to practice exercises that improve our mental and physical health.
Luckily, practicing gratitude positively impacts our mental and physical health!
Showing gratitude has been shown to improve mood, optimism, social bonds, and the immune system. By practicing gratitude every day using this virtual journal, you'll be able to reap the benefits of gratitude in only a couple minutes every day.
<br>
<br>
Interested? <a href="/login">Login</a> or <a href="/sign-up">Sign up</a> today!
<br>
Read more about the power of gratitude <a href="https://www.health.harvard.edu/healthbeat/giving-thanks-can-make-you-happier" target="_blank" >here</a>.
<br>
<br>
<p style="font-size: 10pt">
Information adopted from <strong>Nationwide Children's</strong><a href="https://www.nationwidechildrens.org/family-resources-education/700childrens/2020/05/gratitude" target="_blank" >The Mental Health Benefits of Gratitude</a>.
</p>
<p style="font-size: 8pt">
This site is not intended to treat any serious mental health issue. Refer to a medical proffessional for any mental health concerns.
</p>
{% endblock %}
